@font-face {
  font-family: 'Undefined';
  src: url("fonts/undefined.woff2") format('woff2')
}

:root {
  --bgBlue: linear-gradient(rgb(1, 120, 190), rgb(5, 50, 110));
  --altWhite: rgb(235, 235, 235);
  --gray: #282828;
}

* {
  font-family: 'Undefined', monospace;
  box-sizing: border-box;
}
html, body {
  margin: 0;
  height: 100vh;
  background-color: var(--bgBlue);
}

button {
  background-color: inherit;
  border: 2px solid white;
  border-radius: 6px;
  color: white;
  font-size: 25px;
  text-align: left;
}

button:hover {
  color: var(--gray);
  background-color: white;
}

button:active {
  background-color: var(--altWhite);
  border-color: var(--altWhite);;
}

.display {
  height: 100%;
  background-image: url('../res/backgrounds/bg_main.png');

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
}

.main {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  flex: 0 0 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  color: white;
  position: fixed;
  bottom: 25vh;
  left: 0;

  display: flex;
  align-items: flex-end;
  padding: 1%;
}

.menu > div {
  font-size: 25px;
  border: 2px solid white;
  background: var(--bgBlue);
  border-radius: 15px;
  padding: 10px;
  width: 150px;

  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
}

.menu > .confirmation {
  padding: 20px;
  width: auto;
  align-items: center;
}

.confirmation button {
  width: 100px;
  margin-top: 10px;
  text-align: center;
}

.enemy img {
  height: 65vh;
}

.info {
  color: white;
  font-size: 3vh;
  overflow: hidden;
  flex: 0 0 25%;
  display: flex;
}

.info > div {
  background: var(--bgBlue);
  border: 3px solid white;
  border-radius: 15px;
  flex: 1 1 50%;
}

.info .log {
  padding: 10px;
  overflow: hidden;
}

.info .stats {
  margin-left: -2px;
  padding: 40px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.stat {
  display: flex;
  gap: 5px;
}

.hp {
  margin-left: auto;
}

div.hidden {
  display: none;
}

/* div {
  border: 1px solid red;
} */